.tetris-board {
    width: 500px;
    height: 900px;
    background-color: navy;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.tetris-row{
    flex: 1;
    width: 100%;
    display: flex;
}

.tetris-cell {
    background-color: transparent;
    flex: 1;
    padding: 1px;
    box-sizing: border-box;
    border-radius: 8px;
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}