<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="app.js"></script>
        <script src="algol-wasm/index.js"></script>
    </head>
    <body class="container vsc-initialized">
        <div class="jumbotron">
        <h1 class="display-3">WebAssembly ALGOL60 Tetris</h1>
        <p class="lead">Tetris written in ALGOL60, compiled to WebAssembly. </p>
        </div>

        <div class="main-content">
            div(class="game-area")
                div(class="tetris-board")
                        each yCoord in Array(18).fill(0).map((x,i) => i)
                            div(class="tetris-row", id=`tetris-row-${yCoord}`)
                                each xCoord in Array(10).fill(0).map((x,i) => i)
                                    div(class="tetris-cell", id=`tetris-row-${yCoord}-cell-${xCoord}`)
                        div(id="game-over") 
                            p(id="game-over-message") Game Over
                        div(id="press-key")
                            p(id="press-key-message") Press any key to Start
                div(class="sidebar")
                    div(class="score-section")
                        p(id="score")
                            span(id="score-label")
                                | Score: 
                            span(id="score-value")
                                | 0
                    div(class="controls-section")
                        div(class="controls")
                            h2 Controls
                            h3 A/D : Left/Right
                            h3 S   : Down
                            h3 W   : Rotate
                        
        </div>
        <audio id="audio-theme" loop>
            <source src="tetris.ogg" type="audio/ogg" preload="auto" >
            Your browser does not support the audio element.
        </audio>
    </body>
</html>